.DS_Store
private/
target/
*.log
*.log.*
*.tmp
*.bak
config.yaml
server.p12
nb-configuration.xml
l9g-oidc-info.jar
l9g-accountinfo.jar
GEMINI.md
CLAUDE.md
.claude
.gemini
secrets
secret.bin
data/vault*
